<main class="page__main">
  <section class="filtro">
    <form>
      <input class="js_input" type="text" name="buscador" id="buscador">
      <button class="js_buttonFilter">Buscar</button>
    </form>
  </section>

  <section class="listados">
    <div class="divProductos">
      <h2>Productos disponibles</h2>
      <ul class="listadoProductos js_listadoProductos"></ul>
    </div>

    <div class="divCarrito">
      <h2>Carrito</h2>
      <ul class="listadoCarrito js_listadoCarrito"></ul>
      <button class="js_vaciarCarrito">Vaciar carrito</button>
    </div>
  </section>
</main>
